<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Ensure proper rendering and touch zooming for all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id="samples">

    {{>menu}}

    <div id="content" class="container py-3">
      <div id="doc" class="col-lg-8 mx-auto">

          <div class="doc-overview text container">
            <h2 class="border-bottom pb-3" data-se="overview-doc-header">
              Okta Hosted Login + Express JS Example
            </h2>

            {{^isLoggedIn}}
              <!-- logged out content -->
            {{/isLoggedIn}}

            {{#isLoggedIn}}
              <!-- logged in content -->
            {{/isLoggedIn}}

            {{^isLoggedIn}}
              <form method="get" action="/login" class="mt-3">
                <button id="login-button" class="btn btn-primary" type="submit">Log In</button>
              </form>
            {{/isLoggedIn}}

          </div>

        </div>

      {{>server-config}}

    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
